<div class="container">
  </p>
    <%= link_to "Create a restaurant", new_restaurant_path %>
  <p>
  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
    <% end %>
  </ul>
</div>
